* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
h1 {
  color: #91d426;
  font-size: 100px;
  position: absolute;
  z-index: -1;
}
