*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header, .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 15vh;
    background-color: lightcyan;
    position: sticky;
    top: 0;
}
.content{
    height: 150vh;
    background-color: lightcoral;
}